
* {
    box-sizing: border-box;
     line-height: 1.5;
}


body {
  background-color: #f2f0ee;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.125rem;
    line-height: 1.5;
  color: black;
  margin: 0;
}

h2 {
    font-weight: normal;
    font-family: Montserrat;
}

h3 {
    font-weight: normal;
    font-family: Montserrat;
}

h4 {
    font-weight: normal;
    font-family: Montserrat;
}

h5 {
    font-weight: normal;
    font-family: Montserrat;
}
.header {
    background-color: #0b0c10;
    padding: .5rem 0 0 0;
    margin: 0;
    color: #ffffff;
    height: 300px;
    background: url("https://cdn.discordapp.com/attachments/779877697203601440/806877736563114043/3096110.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header h1 {
    text-align: center;
}

.after-header {
    background-color: #1f2833;
    margin-bottom: 20px;
    margin-top: 90px;
}

.header-logo-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;

}

.after-header .after-header-wrapper {
    list-style: none;
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
    padding: 0;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
}

.after-header .after-header-wrapper a:link, .after-header .after-header-wrapper a:visited {
    text-decoration: none;
    display: block;
    padding: .5rem 2rem;
    margin: 0;
    color: #66fcf1;
}

.after-header .after-header-wrapper a:hover {
    color: #45a29e;
}

p {
    color: rgba(22,22,22,0.87);
    word-wrap: break-word;
}


small {
   color: rgba(22,22,22,0.87);
}


.text-decoration {
text-decoration: none;
}


.links-decoration2:hover {
  text-decoration: none;
  color: #66fcf1;
}


.links-decoration2 {
  text-decoration: none;
  color: #46a29e;
}

.text-decoration-return-button {
  color:#37474f;
}

.text-decoration-return-button:active {
  color:#4ac8ad;
}

.text-decoration-return-button:hover {
  color:#4ac8ad;
}

.text-center {
    text-align: center;
}
  
.text {
    text-align: end;
}


.sort-container {
display: grid;
grid-template-columns: 1fr 1fr;
margin-bottom: 0.625rem;
margin-top: 3.125rem;
}

.sort-bar {
    padding-right: 14%;
}

.sort-all-question-bar {
    padding-left: 40%;
}


.header-h1 {
    color: #FFFBD8;
    text-align: left;
    font-size: 100px;
    font-family: "Montserrat";
    font-weight: lighter;
    margin: auto;
    display: flex;
}


.logo-image {
  color: white;
  width: 50px;

}


.box {
    margin: 0 auto;
    width: 70%;
    text-align: left;
    line-height: 1.5;
  
}


.box-answers-comments {
margin: 0 auto;
width: 70%;
text-align: left;

}


.container-for-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-top: 25px;
 
}

.submit-button {
    font-size: 18px;
    color: #45a29e;
    background-color: #f2f0ee;

}

.submit-button:hover{
    border: 1px solid red;
    border-radius: 5px;
    color: #66fcf1;
}


.submit-button-tag {
    font-size: 16px;
    color: #1f2833;
    background-color: white;
    font-family: "Montserrat";
}

.submit-button-tag:hover {
    border: 1px solid #66fcf1;
    font-size: 16px;
}

.margin-top {
  margin-top: 40px;
}

.up-down {
color: #406967;
}

button[type="submit"] {
border: none;
outline: none;
}

a {
  text-decoration: none;
}

.alert-message {
  color: orangered;
}

.grid-tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.tag {
  background-color: #f6f3d9;
  width: fit-content;
  padding: 3px 6px;
  border-radius: 2px;
}


.x:hover {
  color: orangered;

}

.container-comments-for-question-and-answers {
    padding-left: 100px;

}


a {
    transition: all .1ms;
    background: transparent;
    cursor: pointer;
    text-decoration: none;

}



ul li {
    margin-bottom: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.search-button {
  font-size: 21px;

}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

figure {
    margin: 0 0 20px 0;
}

.container-questions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

}

.container-questions > .questions {
    overflow: hidden;
    width: 50%;
    background-color: white;
    padding: 1rem;
    margin: 10px auto;
    border-radius: 0.25rem;
    box-shadow: 10px 12px 10px -10px rgba(0, 0, 0, 0.25);
    text-align: left;
    line-height: 1.5;

}

/*#todo silviu si simina*/
.grid-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    color: gray;
}

.submission-time-grid {
    grid-column: 7 / 8;
}

.submission-time {
    float: right;
}


/*##############FOOTER#########*/
.footer {
    background-color: #39484f;
    color: #000;
    margin: 400px 0 0 0;
    font-size: 85%;
    padding: 1rem 0;
    position: sticky;
    clear:both;

}


.footer .footer-wrapper {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    border-radius: 3px;
    list-style: none;

}

.footer-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;

}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.image-and-details-card {
    display: flex;
    text-align: center;
}

.image-card {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.box-card-profile {
    margin: 0 auto;
    width: 70%;
    text-align: left;
    line-height: 1.5;
}

.main-card-profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

}

.main-card-profile-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
}

.main-card-profile-body > .profile-questions-answers-comments-card {
    overflow: hidden;
    width: 80%;
    background-color: #f2f0ee;
    padding: 1rem;
    margin: 10px auto;
    border-radius: 0.25rem;
    box-shadow: 10px 12px 10px -10px rgba(0, 0, 0, 0.25);
    line-height: 1.5;
}

.main-card-profile > .main-card-profile-body {
    overflow: hidden;
    width: 100%;
    background-color: white;
    padding: 1rem;
    margin: 10px auto;
    border-radius: 0.25rem;
    box-shadow: 10px 12px 10px -10px rgba(0, 0, 0, 0.25);
    line-height: 1.5;
}

.profile-details-card {
    text-align: left;
    display: flex;
    width: 80%;
}

.profile-details-card-arrange {
    margin-right: 20%;
}

#users {
    word-wrap: break-word;
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
    font-family: Montserrat;
}

#users td, #users th {
    border: 1px solid #ddd;
    padding: 5px;
}

#users tr:nth-child(even){background-color: #f2f0ee}
/*#users tr:hover {background-color: #66fcf1}*/

#users th {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    background-color: #1f2833;
    color: white;
}


.sign-up-log-in-button {
    background-color: #49c5b6;
    border: none;
    color: white;
    padding: 5px 50px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: lighter;
}

.page-titles {
    font-weight: lighter;
    font-family: "Montserrat";
    text-align: center;
}

/* Color Theme Swatches in Hex */
.color-theme_PaletteFinal-1-hex { color: #0b0c10; }
.color-theme_PaletteFinal-2-hex { color: #1f2833; }
.color-theme_PaletteFinal-3-hex { color: #ffffff; }
.color-theme_PaletteFinal-4-hex { color: #66fcf1; }
.color-theme_PaletteFinal-5-hex { color: #46a29e; }

