
* {
    box-sizing: border-box;
     line-height: 1.5;
}


body {
  background-color: #FFFBD8;
  font-family: "Dosis", sans-serif; 
  font-weight: 500;
  font-size: 1.125rem;
    line-height: 1.5;
  color: black;
  margin: 0;
}

.header {
    background-color: #BA4937;
    padding: .5rem 0 0 0;
    margin: 0;
    color: #fff;
}

.after-header {
    background-color: #FED15A;
    margin-bottom: 20px;

}

.header-logo-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;

}

.after-header .after-header-wrapper {
    list-style: none;
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
    padding: 0;
    display: flex;
    align-items: center;
}

.after-header .after-header-wrapper a:link, .after-header .after-header-wrapper a:visited {
    text-decoration: none;
    display: block;
    padding: .5rem 2rem;
    margin: 0;
    color: #BA4937;
}

.after-header .after-header-wrapper a:hover {
    color: #FFFBD8;
}

p {
    color: rgba(22,22,22,0.87);
}


small {
   color: rgba(22,22,22,0.87);
}


.text-decoration {
text-decoration: none;
}


.links-decoration2:hover {
  text-decoration: none;
  color: #FED15A
}


.links-decoration2 {
  text-decoration: none;
  color: #BA4937
}

.text-decoration-return-button {
  color:#37474f;
}

.text-decoration-return-button:active {
  color:#4ac8ad;
}

.text-decoration-return-button:hover {
  color:#4ac8ad;
}

.text-center {
    text-align: center;
}
  
.text {
    text-align: end;
}


.sort-container {
display: grid;
grid-template-columns: 1fr 1fr;
margin-bottom: 0.625rem;
margin-top: 3.125rem;
}

.sort-bar {
    padding-right: 14%;
}

.sort-all-question-bar {
    padding-left: 40%;
}


.header-h1 {
    color: #FFFBD8;
    text-align: left;
    font-size: 50px;
    font-family: "Montserrat";
}

.logo-image {
  color: white;
  width: 50px;

}


.box {
    margin: 0 auto;
    width: 50%;
    text-align: left;
    line-height: 1.5;
  
}


.box-answers-comments {
margin: 0 auto;
width: 50%;
text-align: left;

}


.container-for-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-top: 25px;
 
}

.submit-button {
    font-size: 16px;
    color: #BA4937;
    background-color: #FFFBD8;

}

.submit-button:hover{
border: 1px solid red;
border-radius: 5px;
}


.submit-button-tag {
    font-size: 16px;
    color: #BA4937;
    background-color: #FFFBD8;
}

.submit-button-tag:hover{
border: 1px solid #BA4937;
border-radius: 5px;
}

.margin-top {
  margin-top: 40px;
}

.up-down {
color: #406967;
}

button[type="submit"] {
border: none;
outline: none;
}

a {
  text-decoration: none;
}

.alert-message {
  color: orangered;
}

.grid-tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.tag {
  background-color: #f6f3d9;
  width: fit-content;
  padding: 3px 6px;
  border-radius: 2px;
}


.x:hover {
  color: orangered;

}

.container-comments-for-question-and-answers {
    padding-left: 100px;

}


a {
    transition: all .1ms;
    background: transparent;
    cursor: pointer;
    text-decoration: none;

}



ul li {
    margin-bottom: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.search-button {
  font-size: 21px;

}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

figure {
    margin: 0 0 20px 0;
}

.container-questions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

}

.container-questions > .questions {
    overflow: hidden;
    width: 50%;
    background-color: white;
    padding: 1rem;
    margin: 10px auto;
    border-radius: 0.25rem;
    box-shadow: 0 20px 20px -10px rgba(0,0,0,0.25);
    text-align: left;
    line-height: 1.5;

}

.grid-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: gray;
}

.submission-time-grid {
    grid-column: 7 / 8;
}

.submission-time {
    float: right;
}


/*##############FOOTER#########*/
.footer {
    background-color: #39484f;
    color: #000;
    margin: 400px 0 0 0;
    font-size: 85%;
    padding: 1rem 0;
    position: sticky;
    clear:both;

}


.footer .footer-wrapper {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    border-radius: 3px;
    list-style: none;

}

.footer-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;

}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.image-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.box-card-profile {
    margin: 0 auto;
    width: 70%;
    text-align: left;
    line-height: 1.5;
}

.main-card-profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

}

.main-card-profile > .copilul {
    overflow: hidden;
    width: 100%;
    background-color: white;
    padding: 1rem;
    margin: 10px auto;
    border-radius: 0.25rem;
    box-shadow: 0 20px 20px -10px rgba(0,0,0,0.25);
    line-height: 1.5;
}

.profile-details-card {
    text-align: left;
    padding-top: 80px;
}

/* Color Theme Swatches in Hex */
.color-theme_PaletteFinal-1-hex { color: #165D63; }
.color-theme_PaletteFinal-2-hex { color: #FFFBD8; }
.color-theme_PaletteFinal-3-hex { color: #FED15A; }
.color-theme_PaletteFinal-4-hex { color: #DA9D42; }
.color-theme_PaletteFinal-5-hex { color: #ba4937; }

/* Color Theme Swatches in RGBA */
.color-theme_PaletteFinal-1-rgba { color: rgba(22, 93, 99, 1); }
.color-theme_PaletteFinal-2-rgba { color: rgba(255, 251, 216, 1); }
.color-theme_PaletteFinal-3-rgba { color: rgba(254, 209, 90, 1); }
.color-theme_PaletteFinal-4-rgba { color: rgba(218, 157, 66, 1); }
.color-theme_PaletteFinal-5-rgba { color: rgba(186, 73, 55, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_PaletteFinal-1-hsla { color: hsla(184, 63, 23, 1); }
.color-theme_PaletteFinal-2-hsla { color: hsla(53, 100, 92, 1); }
.color-theme_PaletteFinal-3-hsla { color: hsla(43, 98, 67, 1); }
.color-theme_PaletteFinal-4-hsla { color: hsla(35, 67, 55, 1); }
.color-theme_PaletteFinal-5-hsla { color: hsla(8, 54, 47, 1); }

