{% extends 'layout.html' %}

{% block head %}

{% endblock %}


{% block body %}
<div class="box">
    <h1 style="text-align: left" class="page-titles">Post your answer</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="message"></label><br>
        <textarea required name="message" id="message" rows="4" cols="50"></textarea><br><br>
        <label id="image" for="image">Image</label>
        <input type="file" name="file"><br><br>
        <input type="submit"><br><br>
    </form>
    <a class="text-decoration-return-button text-decoration" href="{{ url_for('display_question', question_id=question_id) }}"><img src="{{url_for('static', filename='/images/back.svg')}}"> Back to Question</a><br><br>
</div>


{% endblock %}