{% extends 'layout.html' %}

{% block title %}
Edit answer
{% endblock %}


{% block body %}
<div class="box">
    <h1 style="text-align: left" class="page-titles">Edit answer</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="message">Message</label><br>
        <textarea required name="message" id="message" rows="5" cols="60">{{ answer_details['message'] }}</textarea><br><br>

        <label for="image">Image</label><br>
        <input type="file" name="file"><br><br>
        <input type="submit"><br><br>
    </form>
    <a class="text-decoration-return-button text-decoration" href="{{ url_for('display_question', question_id=answer_details['question_id']) }}"><img alt="image from user" src="{{url_for('static', filename='/images/back.svg')}}"> Back to Question</a><br><br>
</div>
{% endblock %}