<footer class="footer">
    <div class="footer-container1">
        <div class="footer-box1">
            <h1>mue</h1>

        </div>
        <div class="footer-box2">
            <h1>About us:</h1>
            <h3>Despre noi poveste despre noi, haos nebuneala suntem jmecheri prea jmecheri pentru viata asta
                snafjasdnfsafsafmkfasdf
                safnsadjfnsafjapsfnosajofsafsa njna osf asdfn asojfosanfd osaf sanf osanfo sjanfosan ofjsao fsa
                s afasd jnfasoj</h3>
        </div>
        <div class="footer-box3">
            <h1>Contact:</h1>
            <ul>
                <li>Silviu Bocsa - silviubocsa@gmail.com</li>
                <li>Florentina Matei - florentina.matei@gmail.com</li>
                <li>Simina Tabac - simina.tabac@gmail.com</li>
            </ul>
        </div>
    </div>
    <div class="footer-container2">
        <div class="footer-box4">
            <hr style="border: 0; height: 1px;background-color: gray;">
            <h3><b>Runtime Terror Studios</b> - 040058 Calea Vacaresti nr.234, Bucuresti, Romania - Support (+40)740011717</h3>
            <hr style="border: 0; height: 1px;background-color: gray;">
        </div>
    </div>
</footer>