<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>

        
<header class="header">
    <div class="content-wrapper">
        <div class="about">
            <div class="navbar-header"><h1 class="headers-color"><img class="logo-image" src="{{url_for('static', filename='/images/patch-question.svg')}}">&nbsp<a class="text-decoration2" href="/">Ask Mate</a></h1></div>
        </div>
    </div>
    <nav class="after-header">
        <ul class="after-header-gray">
            <li> <a class="" href="{{ url_for('add_question') }}"><span title="Add a Question!"><img src="{{url_for('static', filename='/images/cloud-plus.svg')}}"></span></a> </li>
            <li class="search"><form action="{{ url_for('search_question') }}">
                    <input type="text" name="search">
                    <button class="submit-button-tag" type="submit">Search</button>
                </form></li>
        </ul>
    </nav>
</header>

    
    {% block body %}{% endblock %}
{% include "footer.html" %}
</body>
</html>