{% extends 'layout.html' %}


{% block head %}
    <title>ASK MATE</title>
{% endblock %}


{% block body %}
<h1 class="text-center">ASK MATE</h1>
<div class="container">
    <div class="item-1"> <a href="{{ url_for('add_question') }}">Ask a question</a> </div>
    <div class="item-2">
    <form class='text' method="get">
        <label for="order_by">Sort by:</label>
        <select id="order_by" name="order_by">
          <option value="title">Title</option>
          <option value="submission_time">Submission Time</option>
          <option value="view_number">View Number</option>
          <option value="vote_number">Vote Number</option> 
          <option value="message">Message</option>
        </select>
         <select id="order_direction" name="order_direction">
           <option value="asc">Ascended</option>
          <option value="desc">Descendent</option>
         </select>
        <input type="submit">
    </form>
</div>
</div>
    <table class="text-center table table-striped table-bordered" id="questions">
        <thead class="thead-dark">
            <th>ID</th>
            <th>Submission Time</th>
            <th>View Number</th>
            <th>Vote Number</th>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>
        </thead>
        <tbody>
            {% for line in questions %}
            <tr>
                <td>{{line.id}}</td>
                <td>{{line.submission_time.strftime('%d-%m-%Y %H:%M:%S')}}</td>
                <td>{{line.view_number}}</td>
                <td>{{line.vote_number}}<a class="textdecoration" href="{{ url_for('vote_up_question', question_id=line.id) }}"><br>▲</a><a class="textdecoration"href="{{ url_for('vote_down_question', question_id=line.id) }}">▼</a></td>
                <td><a href="{{ url_for('display_question', question_id=line.id) }}">{{line.title}}</a></td>
                <td>{{line.message}}</td>
                {% if line.image %}
                <td><figure><img src="{{url_for('static', filename='images/' + line.image) }}" height="150"></figure></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}