{% extends 'layout.html' %}

{% block title %}
    Log in Page
{% endblock %}


{% block body %}
    <form method="post">
        <label for="email"></label>
        <input type="email" name="email" id="email" required placeholder="Enter email">
        <label for="password"></label>
        <input type="password" name="password" id="password" required placeholder="Password">
        <input type="submit">
    </form>
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
{% endblock %}