{% extends 'layout.html' %}


{% block title %}
    Ask Mate
{% endblock %}


{% block body %}
<div class="sort-container">
    <div class="sort-bar">
    <form class='text' method="get">
        <label for="order_by">Sort by:</label>
        <select id="order_by" name="order_by">
          <option value="title">Title</option>
          <option value="submission_time">Submission Time</option>
          <option value="view_number">View Number</option>
          <option value="vote_number">Vote Number</option>
          <option value="message">Message</option>
        </select>
        <label for="order_direction"></label>
         <select id="order_direction" name="order_direction">
           <option value="asc">Ascended</option>
          <option value="desc">Descendent</option>
         </select>
        <input type="submit">
    </form>
</div>
    <div class="sort-all-question-bar">
        <a class="links-decoration2" href="/list">All questions</a>
    </div>
</div>

        {% for line in questions %}
        <div class="container-questions">
            <section class="questions">
                <div class="title-question">
                    <a class="text-decoration" href="{{ url_for('display_question', question_id=line.id) }}"><h3>{{line.title}}</h3></a>
                </div>
                <div class="message-question flexible">
                    <h5>{{line.message}}</h5>
                </div>
                <div class="submission-time">
                    <small>{{line.submission_time}}</small>
                </div>
                <div class="view-number">
                    <small>Views: {{line.view_number}}</small>

                </div>
                <div class="vote-number">
                    <form action="{{ url_for('vote_up_question', question_id=line.id) }}" method="post">
                        <button type="submit">▲</button>
                    </form>
                    <small>&nbsp&nbsp{{line.vote_number}}</small>
                    <form action="{{ url_for('vote_down_question', question_id=line.id) }}" method="post">
                        <button type="submit">▼</button>
                    </form>
                </div>





            </section>
        </div>
{% endfor %}

{% endblock %}