{% extends 'layout.html' %}

{% block head %}
    <title>{{ show_question.title }}</title>
{% endblock %}


{% block body %}
<div class="text-center">
<h2>{{ show_question.title }}</h2>
    <p>{{ show_question.message }}</p>
    
    <a href="{{url_for('edit_question', question_id=show_question.id)}}">Edit this question</a>
    <form action="{{ url_for('delete_question', question_id=show_question.id) }}" method="POST">
        <button type="submit">Delete Question</button>
    </form>
    <a href="{{ url_for('add_answer', question_id=show_question.id) }}">Add answer</a><br>
    
    
<h3> Answers </h3>
    <a href="{{ url_for('main_page') }}">☚ Return to The List</a><br><br>
    {% for item in show_answers %}
        <p>{{ item.message }}</p>
        {% if item.image %}
        <figure><img src="{{ url_for('static', filename='images/' + item.image) }}" height="150"></figure><br>
        {% else %}
        <figure></figure><br>
        {% endif %}
        <small>{{ item.vote_number }}</small><br><br>
        <a href="{{ url_for('vote_up_answer', answer_id=item.id) }}">▲ Vote up ▲</a><br>
        <a href="{{ url_for('vote_down_answer', answer_id=item.id) }}">▼ Vote down ▼</a><br>

        
        <form action="{{ url_for('delete_answer', answer_id=item.id) }}" method="POST">
            <button type="submit">Delete this answer!</button>
        </form>
    {% endfor %}
    
    <a href="{{ url_for('main_page') }}">☚ Return to The List</a><br><br>
</div>
{% endblock %}